<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.hachicom.flappybirdphaserdemo" version="1.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:cocoon="http://cocoon.io/ns/1.0">
    <name>Flappy Bird Phaser Demo</name>
    <description>
        Testing Phaser Template with Cocoon.IO and Flappy Bird tutorial
    </description>
    <author email="hachicomsoft@gmail.com">
        Adinan Batista Alves
    </author>
    
    <!-- Shown in the wizard -->
    <!--icon src="icon.png" /-->

    <content src="index.html" />
    <access origin="*"/>

    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />

    <cocoon:plugin name="com.ludei.canvasplus.ios" />
    <cocoon:plugin name="com.ludei.canvasplus.android" />  

    <cocoon:plugin name="org.apache.cordova.vibration"/> 
</widget>
